 @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


 main {
     margin: 60px;
     width: 85%;
     max-width: 1300px;
 }

 .container {
     margin-top: 60px;
     margin-left: 100px;
     background-position: center;
     height: 600px;
     background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('banner.png');
     border-radius: 16px;
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
 }

 .container-heading {
     color: #FFF;
     font-size: 30px;
     font-weight: 400;
     position: absolute;
     top: 50%;
     left: 50%;
     justify-content: center;
     transform: translate(-50%, -50%);
     text-align: center;
     font-family: 'Merriweather', serif;
 }

 /* Section part */
 .categories {
     width: 700px;
     height: 500px;
     align-items: center;
     margin: 0 auto;

 }

 .categories-heading {
     color: #F00;
     font-family: 'Inter', sans-serif;
     display: flex;
     justify-content: center;
     text-align: center;
     font-size: 50px;
     font-weight: 700;
 }

 .categories-para {
     color: #F00;
     text-align: center;
     font-family: 'Inter', sans-serif;
     font-size: 24px;

     font-weight: 400;
     padding-bottom: 1px;
     margin-bottom: 3px;
 }

 .categories-all {
     color: #070211;
     margin-top: 0;
     text-align: center;
     font-family: 'Inter', sans-serif;
     font-size: 35px;
     font-weight: 700;
 }

 .categories-img {
     background-image: url('./resources/newyearphoto.png');
     margin-top: 60px;
     margin-left: 100px;
     background-position: center;
     width: 500px;
     height: 300px;
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
 }

 /* midnight party */
 .midnight {
     height: 600px;
     margin-top: 60px;
     padding-top: 30px;
     padding-bottom: 1px;
     margin-left: 100px;
 }

 .midnight-party {
     height: 500px;
     background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./resources/Vectorrr.png');
     border-radius: 16px;
     display: flex;
     background-size: cover;
 }

 .main {
     width: 600px;
     padding-top: 90px;
     padding-left: 90px;
     height: 70px;
     color: #FFF;
     font-family: 'Merriweather', serif;
     font-size: 45px;
     font-weight: 700;
     letter-spacing: 7.04px;
 }

 #midpara {
     width: 650px;
     padding-top: 20px;
     padding-left: 90px;
     height: 70px;
     color: rgba(255, 255, 255, 0.80);
     font-family: 'Inter', sans-serif;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
 }

 #btn {
     color: #FFF;
     width: 120px;
     margin-left: 110px;
     border: none;
     background-color: rgba(0, 0, 0, 0.04);
     text-align: center;
     font-family: 'Inter', sans-serif;
     font-size: 20px;
     font-weight: 700;
 }

 #new-img {
     width: 250px;
     height: 400px;
     align-items: center;
     padding-top: 50px;
     padding-left: 50px;
 }

 /* section third */
 .details {
     height: 400px;
     margin-top: 0px;
     background-color: #ffe6e6;
     margin-left: 100px;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     padding-top: 60px;
 }

 .details-add {
     text-align: center;
     color: solid black;
     line-height: 0.1px;
     font-style: normal;
     font-family: 'Inter', sans-serif;
     font-size: 30px;
     font-weight: 400;
 }

 #kh {
     width: 100px;
     height: 30px;
     background-color: #F00;
     color: #FFF;
     border: none;
     border-radius: 5px;
 }

 /* best offer */
 .best-offer {
     height: 400px;
     padding-top: 80px;
     margin-top: 30px;
     background: #FFF;
     margin-left: 100px;
     border-radius: 10px;
     display: flex;
     gap: 30px;
 }

 #best {
     color: #F00;
     font-family: Inter;
     font-size: 17px;
     font-style: normal;
     font-weight: 400;
     
 }

 #come {
     color: #070211;
     font-family: Merriweather;
     font-size: 40px;
     font-style: normal;
     font-weight: 700;
     line-height: 0.1px;
 }

 /* .coming-soon {} */

 .round-image {
     border-style: solid;
     border-color: red;
     height: 250px;
     width: 400px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 #year-heading{
    color: #F00;
font-family: Inter;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
 }

 /* portfolio section */
 .portfolio {
     margin-top: 60px;
     margin-left: 100px;
 }

 .first-header {
     width: 420px;
     display: flex;
     gap: 10px;
     line-height: 4px;
 }

 #gift {
     color: #F00;
     font-family: Inter;
     font-size: 15px;
     font-weight: 500;
     line-height: 4px;
 }

 #port-head {
     color: #070211;
     font-family: Merriweather;
     font-size: 30px;
     font-style: normal;
     font-weight: 700;
     line-height: 0.1px;
     text-transform: capitalize;
 }

 /* news letter */
 .news {
     height: 400px;
     margin-top: 30px;
     background: rgba(255, 0, 0, 0.05);
     margin-left: 100px;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     padding-top: 60px;
 }

 .sub {
     justify-content: center;
     text-align: center;
 }

 #news-heading {
     color: #070211;
     text-align: center;
     font-family: Merriweather;
     font-size: 35px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     text-transform: capitalize;
 }

 #gmail {
     height: 20px;
     border-radius: 100px 0px 0px 100px;
     background: #FFF;
     font-size: 15px;
     padding: 5px;
     border: none;
 }

 .ggmail {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 #subbtn {
     color: #FFF;
     background-color: #F00;
     padding: 5px;
     text-align: center;
     font-family: Inter;
     font-size: 15px;
     font-weight: 600;
     border: none;
     border-radius: 0px 100px 100px 0px;
     line-height: normal;
 }

 /* footer */
 .foot {
     height: 500px;
     background: #070211;
 }

 .address-title {
     color: #FFF;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 800px;
     padding-top: 40px;
     padding-bottom: 40px;
 }

 .social {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 20px;
     padding-top: 40px;
     padding-bottom: 40px;
 }

 .copywrite {
     color: #FFF;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 900px;
     padding-top: 20px;
 }

 .Unsubscribe {
     color: #FFF;
     font-family: Inter;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;

 }

 hr {
     width: 1170px;
     height: 1px;
 }

 .copywrite-details {
     color: #FFF;
     font-family: Inter;
     font-size: 18px;
     font-weight: 400;
     line-height: normal;
 }
 .social-media{
    color: #FFF;
    icon: 20px;
    size: 20px;
 }